


    /* Grid layouts and header container */
    body{
        background-color: black;
    }

    #container{
        margin-left: 2px;
        width: 320px;
        height: 480px;
        background-color: black;
        position: relative;
    }


    .button-grid{
        position: relative;
        top: 270px;
        left: 50px;
    }

    .button-grid button{
        display: block;
        width: 120px;
        height: 50px;
        margin: 5px;
        font-size: medium;
        border-radius: 12px 12px 12px 12px;
    }

    .score{
        position: absolute;
        display: inline-block;
        z-index: 2;
        left: 900px;
        top: 20px;
    }







    /* level and main object container */
    .logo-container{
        position: absolute;
        margin-top: 40px;
        margin-left: 30px;
    }
    #logo-image{
        width: 280px;
        height: 180px;
        background-size: 100%;
    }
    .home-animations-container{
        position: absolute;
        margin-top: 400px;
        margin-left: 40px;
        display: inline-flex;
    }.home-animations-container div{
        display: block;
    }

    .level-container{
        display: block;
        position: absolute;
        color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 240%;
        top: 100px;
        left: 80px;
        letter-spacing: 3px;
    }
    .lives-container{
        display: inline-flex;
        position: absolute;
        top: 53px;
        left: 60px;
        flex-wrap: wrap;

    }.lives-img{
        width: 20px;
        height: 20px;
        margin-top: 3px;
        background-image: url('../components/assets/player/Roo_0003_roo_0001_side1-copy.png');
        background-size: 100%;
    }

    .lives-bar{
        position: absolute;
        z-index: 3;
        display: block;
        top: 20px;
        left: 285px;
        width: 25px;
    }

    .stats-container{
        display: block;
        position: absolute;
        color: white;
        font-size: 110%;
        top: 180px;
        left: 40px;
    }

    .input-class{
        width: 200px;
        height: 40px;
    }
    #save-player-button{
        width: 65px;
        height: 40px;
        display: inline-block;
        margin-top: 20px;
        margin-left: 130px;
    }

    .over-container{
        display: block;
        position: absolute;
        color: white;
        font-size: 200%;
        top: 100px;
        left: 50px;
    }

    .control-buttons-container{
        position: absolute;
        display: inline-flex;
        width: 80px;
        height: 40px;
        font-size: 140%;
        top: 520px;
        left: 40px;
        width: 35px;
    }
    .control-buttons-container button{
        font-size: 300%;
        color: white;
        margin-right: 30px;
        border: 1px solid white;
        align-items: center;
    }

    .filter-by-button{
        position: absolute;
        display: inline-block;
        top: 30px;
        left: 190px;
        width: 130px;
        height: 30px;
        font-size: 85%;
    }

    .top-players-container{
        font-size: 100%;
        color: white;
        display: block;
        position: absolute;
        top: 100px;
        margin-left: 50px;
        word-spacing: 20px;
    }

    .top-players-next{
        position: absolute;
        left: 200px;
        top: 450px;
    }

    .help-screen-container{
        position: absolute;
        left: 2px;
        top: 100px;
        font-size: 110%;
        color: white;
        word-spacing: 0px;
    }
    .player-left-animate, .enemy-left-animate{
        width: 20px;
        height: 20px;
        background-size: 100%;
        position: absolute;
        display: inline-block;
    }.enemy-left-animate{
        left: 10px;
    }
    .controls-animate{
        width: 30px;
        height: 30px;
        margin-left: 10px;
        background-size: 100%;
        display: inline-flex;
        font-size: 100%;
        background-color: white;
        color: black;
        box-shadow: 1px 1px 2px whitesmoke, -1px -1px 2px whitesmoke;
    }

    .go-back{
        position: absolute;
        top: 320px;
        left: 45px;
        width: 80px;
        height: 40px;
        font-size: 80%;
    }.top-player-back{
        top: 450px;
    }

    .player-container{
        position: absolute;
        display: inline-block;
        background-image: url('../components/assets/player/Roo_0001_roo_0003_front1.png');
        z-index: 1;
    }

    .object-container{
        position: absolute;
        display: inline-block;
        width: 25px;
        height: 25px;
        margin-left: 0px;
    }

    .enemy-container{
        position: absolute;
        display: inline-block;
        z-index: 1;
    }

    .player-container, .enemy-container{
        background-size: contain;
        width: 25px;
        height: 25px;
    }

    .wall-h,.wall-v,.none,.pill-b,.pill-s,.wall-TL,.wall-TR,.wall-DR,.wall-DL,.wall-JD,.wall-JL,.wall-JU,.wall-JR{
        background-size: contain;
        width: 25px;
        height: 25px;
    }

    em{
        display: inline-block;
        margin-left: 20px;
    }






    /*small */
    #up,#down,#right,#left{
        position: absolute;
        z-index: 3;
    }
    #up{
        top: -37px;
        left: 100px;
    }#down{
        top: 5px;
        left: 100px;
    }#right{
        top: -15px;
        left: 150px;
    }#left{
        top: -15px;
        left: 45px;
    }

    .top-1{
        font-size: 120%;
    }
    .top-2{
        font-size: 110%;
    }.top-3{
        font-size: 100%;
    }.top-rest{
        font-size: 90%;
        margin-top: -30px;
    }.top-none{
        font-size: 130%;
        margin-left: -10px;
    }

    .red-container, .pink-container,.blue-container,.orange-container{
        background-image: url('../components/assets/enemy/_0002_enemyfront-02.png');
    }


    .player-spawn{
        background-color: black;
    }

    .enemy-spawn{
        background-color: black;
    }

    .none{
        background-color: black;
    }

    .pill-s,.pill-b,.wall-VRU,.wall-VRD,.wall-VRO,.wall-HUR,.wall-HUL,.wall-HUO,.wall-VLU,.wall-VLD,.wall-VLO,.wall-HDR,.wall-HDL,.wall-HDO{
        background-size: 100%;
        width: 20px;
        height: 20px;
    }

    .wall-TLO,.wall-TLC,.wall-TRO,.wall-TRC,.wall-DLO,.wall-DLC,.wall-DRO,.wall-DRC,.wall-JU,.wall-JD,.wall-JR,.wall-JL{
        background-size: 100%;
        width: 20px;
        height: 20px;
    }






